#back {
    background-color: rgb(235, 235, 235);
    max-width: 550px;
    min-height: 200vh;
    margin-left: auto;
    margin-right: auto;
}

.hover-gray {
    background-color: #f8f9fa;
}

.hover-gray:hover {
    background-color: rgb(220, 220, 220);
}

.hover-red {
    background-color: #f8f9fa;
    color: green;
}

.hover-red:hover {
    background-color: rgb(255, 220, 220);
}

.btn-group-lg>.btn, .btn-lg {
    padding: 0.2rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.8rem;
}
.btn-secondary {
    color: #b61b1be3;
    background-color: #1e5586;
    border-color: #159459;
}

#merging {
    display: none;
}

.filename {
    font-size: 18px;
    white-space: nowrap;
    overflow: scroll hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    text-align: right;
}

.filename::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width:576px) {
    .filename {
        font-size: 4vw;
        line-height: 30px;
    }
}
